.Home-Page {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100;
  height: 100%;
  background: linear-gradient(to top, #7a797e, #215464);
  text-align: center;
}
.title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 4em;
}
.carousel-inner {
  height: 75vh;
}

.item,
img {
  height: 100% !important;
  width: 100% !important;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
